<table mat-table matSort [dataSource]="this.itemsObservable" class="mat-elevation-z8" style="width:90%" (matSortChange)="sortData($event)">
  <ng-container matColumnDef="Content">
    <th mat-header-cell mat-sort-header *matHeaderCellDef arrowPosition='after'> Content </th>
    <td mat-cell *matCellDef="let item"> {{item.Content}} <button mat-stroked-button (click)="onClick(item.Id)">Click</button></td>
  </ng-container>
  <ng-container matColumnDef="Header">
    <th mat-header-cell *matHeaderCellDef> Header </th>
    <td mat-cell *matCellDef="let item"> {{item.Header}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>